#grad1{
         height: 150px;
         background-color: red;
         background-image: linear-gradient(yellow, green);
}
#grad2{
         height: 150px;
         background-color: red;
         background-image: linear-gradient(to right, red, yellow);
}
#grad3{
         height: 150px;
         background-color: red;
         background-image: linear-gradient(to bottom right, yellow, blue);
}
#grad4{
         height: 150px;
         background-color: red;
         background-image: linear-gradient(-90deg, yellow, blue);
}
#grad5{
         height: 150px;
         background-color: red;
         background-image: repeating-linear-gradient(190deg, red, yellow 10%, green 20%);
         background-clip: padding-box;
}