<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="login-box">
                <div class="login-box-body">
                    <div class="login-logo">
                        <b>LOGO </b> Title
                    </div>
                    <h2 class="row center">Retrieve Password</h2>
                    <form class="form-horizontal" [formGroup]="customForm" (ngSubmit)="onSubmit()">
                        <div class="card-body">
                            <!-- <div style="display:none;"><input type="hidden" name="_method" value="POST" /></div> -->
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" placeholder="Email" name="email" id="email"
                                        formControlName="email" email="true" required>
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="email.errors.required">
                                            Email is required.
                                        </div>
                                        <div *ngIf="email.errors.email">
                                            Email is not Valid
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group" *ngIf="isError">
                                <p class="alert alert-danger">
                                    <strong>{{message}}</strong> </p>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer center">
                            <button class="btn btn-info" type="submit" [disabled]="!customForm.valid"><i
                                    class="fa fa-refresh fa-spin" *ngIf="isLoading"></i>SUBMIT</button>
                            <button type="button" class="btn btn-danger" (click)="customForm.reset()">RESET</button>
                        </div>
                        <div class="card-footer center">
                            <a routerLink="/login">Login Again</a>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                    <!-- <form [formGroup]="customForm" (ngSubmit)="onSubmit()">

                        <div class="form-group has-feedback">
                            <input type="email" class="form-control" placeholder="Email" name="email" id="email"
                                formControlName="email" email="true" required>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            <br>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                <div *ngIf="email.errors.required">
                                    Email is required.
                                </div>
                                <div *ngIf="email.errors.email">
                                    Email is not Valid
                                </div>
                            </div>
                            <p>You will receive an email with a link to reset your password.<br />
                                <a routerLink="/login">Login Again</a>
                            </p>
                        </div>


                        <div class="form-group" *ngIf="isSuccess">
                            <p class="alert alert-success">
                                <strong>{{message}}</strong> </p>
                        </div>
                        <div class="form-group" *ngIf="isError">
                            <p class="alert alert-danger">
                                <strong>{{message}}</strong> </p>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 pull-right">
                                <button type="submit" class="btn btn-primary btn-block btn-flat"
                                    [disabled]="!customForm.valid"><i class="fa fa-refresh fa-spin"
                                        *ngIf="isLoading"></i>Send Code</button>
                            </div>
                        </div>
                    </form> -->
                    <!-- /.login-box-body -->
                </div>
                <!-- /.login-box -->
            </div>
        </div>
    </div>