/*login Page css*/

.login-box {
  width: 400px;
  margin: 10% auto;
}
.login-box-body{
  border-radius: 15px !important;
}
.login-logo{
  margin-bottom: 50px !important;
}
.card-footer button{
  margin:10px;
}
.card-footer a{
  text-decoration: underline;
}
input{
  border-radius: 10px;
}
.center{
  text-align: center;
}
button{
  min-width: 100px;
  border-radius: 7px !important;
}
.col-form-label{
  margin-top: 5px !important;
}
.input-group-addon{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*END login Page css*/