<div class="container">
  <div class="row">
    <div class="login-box change-password-box">
      <!-- /.login-logo -->
      <div class="login-box-body">
        <div class="login-logo">
          <b>LOGO </b> Title
        </div>       
        <form class="form-horizontal" [formGroup]="customForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
              <h2 class="center">Reset Password</h2>
            <div class="form-group" *ngIf="isSuccess">
              <p class="alert alert-success">
                <strong>{{message}}</strong> </p>
            </div>
            <div class="form-group" *ngIf="isError">
              <p class="alert alert-danger">
                <strong>{{message}}</strong> </p>
            </div>
            <div class="form-group has-feedback" *ngFor="let data of formData;let i = index">
              <label class="control-label" for="{{data.for}}">{{data.label}}</label>
              <span *ngIf="data.required=='required'" style="color: red;">*</span>
              <div class="input-group">
                <input *ngIf="data.control=='input'" type="{{passwordArray[i] == true ? 'password' : 'text' }}"
                  class="form-control" id="{{data.id}}" formControlName="{{data.control_name}}" />
                <span class="input-group-addon">
                  <div *ngIf="passwordArray[i] == true; else otherOption">
                    <i (click)="passwordArray[i] = !passwordArray[i]" class="fa fa-eye"></i>
                  </div>
                  <ng-template #otherOption>
                    <i (click)="passwordArray[i] = !passwordArray[i]" class="fa fa-eye-slash"></i>
                  </ng-template>
                </span>
              </div>
              <div style="margin-top: 8px;"
                *ngIf="customForm.controls[data.control_name].invalid && (customForm.controls[data.control_name].dirty || customForm.controls[data.control_name].touched)"
                class="alert alert-danger">
                <div *ngIf="customForm.controls[data.control_name].errors.required">
                  {{data.label}} is required.
                </div>
                <div *ngIf="customForm.controls[data.control_name].errors.minlength">
                  {{data.label}} must be at least 6 characters long.
                </div>
                <div *ngIf="customForm.controls[data.control_name].errors.maxlength">
                  {{data.label}} must not exceed 10 characters.
                </div>
                <div *ngIf="customForm.controls[data.control_name].errors.pattern">
                  Entered {{data.label}} is not valid.
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer center">
            <button class="btn btn-info" type="submit" [disabled]="!customForm.valid">
              <i class="fa fa-refresh fa-spin"
                *ngIf="isLoading"></i>SUBMIT</button>
            <button type="button" class="btn btn-danger" (click)="customForm.reset()">RESET</button>
          </div>
          <div class="card-footer center">
            <a routerLink="/login">Login Again</a>
          </div>
        </form>
      </div>
      <!-- /.login-box-body -->
    </div>
  </div>
</div>