<section class="content-header">
    <h1>
      User
      <small>View</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-info"></i>
            <h3 class="box-title">Information</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="form-group" *ngIf="isError" class="alert alert-danger">
              <strong>{{message}}</strong>
            </div>
            <dl *ngIf="user!== undefined" class="dl-horizontal">
              <dt scope="row">Username</dt>
              <dd>{{user.username}}</dd>
  
              <dt scope="row">First Name </dt>
              <dd>{{user.first_name}}</dd>
  
              <dt scope="row">Last Name</dt>
              <dd>{{user.last_name}}</dd>
  
              <dt scope="row">Email</dt>
              <dd>{{user.email}}</dd>
  
              <dt scope="row">Mobile</dt>
              <dd>{{user.mobile}}</dd>
  
              <dt scope="row">Status</dt>
              <dd>{{user.user_status_id==1?'Active':'Inactive'}}</dd>
  
  
              <dt scope="row">Created</dt>
              <dd>{{user.created}}</dd>
  
              <dt scope="row">Modified</dt>
              <dd>{{user.modified}}</dd>
  
            </dl>
          </div>
        </div>
      </div>
    </div>
  
  </section>